body {
  font-family: Roboto;
}
.wrapper-character {
    display: flex;
    margin: 10px;
    padding: 20px;
}

.wrapper-text {
    padding-left: 10px;
}

.wrapper-text h3 {
    margin-top: 0px;

}

a:visited {
  color: blue;
}

a {
  text-decoration: underline;
}
  button {
    cursor: pointer;
  }

  .dark {
    background-color: #333;
    color: #fff;
  }
  
  .light {
    background-color: #fff;
    color: #333;
  }
